---
# tasks file for juniorctf

- name: Create JuniorCTF group
  group:
    gid: "{{ jctf_gid }}"
    name: "{{ jctf_group }}"

- name: Create JuniorCTF user
  user:
    uid: "{{ jctf_uid }}"
    name: "{{ jctf_user }}"
    groups: docker

- name: Install JuniorCTF requirements
  apt:
    name:
      - docker.io
      - john
      - john-data

- name: Pull JuniorCTF repo
  git:
    repo: https://framagit.org/axellec/juniorctf.git
    dest: "{{ jctf_path }}"
    force: yes

- name: Build JuniorCTF Docker images
  make:
    chdir: "{{ jctf_path }}/challenges"
    target: build
    params:
      LANG: fr

- name: Set JuniorCTF permissions
  file:
    path: "{{ jctf_path }}"
    state: directory
    owner: "{{ jctf_user }}"
    group: "{{ jctf_group }}"
    mode: 0755
    recurse: yes

- name: Configure JuniorCTF as a service
  template:
    src: juniorctf.service
    dest: "{{ jctf_service_file }}"

- name: Start JuniorCTF service at boot time
  service:
    name: juniorctf
    enabled: yes

- name: Add host juniorctf
  lineinfile:
    path: /etc/hosts
    line: '127.0.0.1 juniorctf'
    owner: root
    group: root
    mode: 0644
